*{
    padding: ;
    margin: ;
}

html{
    height: 100%;
}

/*Navigation Bar*/
.navbar{
    backdrop-filter: blur(8px);
    z-index: 10000;
}
.navbar-brand{
    font-size: 2rem;
    font-family: 'Zen Dots', sans-serif;
    color: black;
}

.navbar-brand:hover{
    color: rgb(52, 150, 193);
}

.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
    font-family: 'Zen Dots', sans-serif;
}

.nav-link:hover{
    color: rgb(52, 150, 193);
}

.dropdown-menu{
    border: none;
}

.dropdown-item{
    margin: 0px;
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-family: 'Zen Dots', sans-serif;
}

.dropdown-item:hover{
    color: rgb(52, 150, 193);
}

.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    text-align: center;
    border: 2px solid black;
    margin-right: -35px;
    background-color: transparent;
    font-family: 'Zen Dots', sans-serif;
}

.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    border-radius: 60px;
    background: black;
    color: white;
}

.btn0:hover{
    background-color: rgb(52, 150, 193);
}

.cart-icon{
    font-size: 2rem;
    font-weight: bold;
}

/* Throughout All Pages */
.section-title{
    text-transform: uppercase;
    font-family: 'Zen Dots', sans-serif;
    color: black;
}

body{
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../images/subtle-prism.png);
}

/*Carousel*/
.c-item{
    height: 500px;
}

.c-img{
    height: 100%;
    object-fit: contain;
}

/* Top Picks Card Section */
.card-title{
    font-family: 'Zen Dots', sans-serif;
    color: white;
}

.card-text{
    font-family: 'Balsamiq Sans', sans-serif;
    color: white;
}

.card{
    border-radius: 30px;
}

/* Why NutriVibe Accordion Section */
.container-accordion{
    display: flex;
    justify-content: center;
    align-items: center;
}
.accordion{
    width: 80%;
}
.accordion-item{
    font-family: 'Balsamiq Sans', sans-serif;
}
.accordion-button{
    font-size: 20px;
    font-family: 'Zen Dots', sans-serif;
}

/* Newsletter */
.newsletter_section{
    padding: 20px;
    background-color: black;
    color: white;
}

.newsletter_section h2{
    font-family: 'Zen Dots', sans-serif;
}

.newsletter_section p{
    font-family: 'Balsamiq Sans', sans-serif;
}

.email{
    height: 40px;
    width: 30%;
    border-radius: 60px;
    margin-right: -35px;
    outline: none;
    text-align: center;
    border: 2px solid rgb(52, 150, 193);
    font-family: 'Zen Dots', sans-serif;
}

.btn1{
    height: 40px;
    width: 5%;
    outline: none;
    border: none;
    border-radius: 60px;
    background: rgb(52, 150, 193);
    color: white;
}

.btn1:hover{
    background-color: pink;
}

/* Footer Styling*/
footer{
    backdrop-filter: blur(8px);
    color: black;
    padding: 8px;

    margin-top: auto;
}

.media-icons{
    font-size: 1.5rem;
    color: black;
}

.container-footer p{
    font-size: 20px;
    font-family: 'Zen Dots', sans-serif;
    color: black;
}

/* Login Card Design */
.resize {
    width: 350px;
    height: auto;
}

.resize {
    width: 250px;
    height: auto;
}

.indented-checkbox-text{
    margin-left: -2em;
}

.card{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
}

